node_modules/
dist/
build/
coverage/
example/Backend
apps/dashboard/node_modules
apps/dashboard/dist
apps/dashboard/build
apps/dashboard/coverage
apps/cli/node_modules
apps/cli/dist
apps/cli/build
apps/cli/coverage
apps/web/node_modules
apps/web/dist
apps/web/build
apps/web/coverage

# Jetic directories
.jetic/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
